.has-updates {
  background-color: green;
}

/* Expect 'div.cluster h3' to be removed. */

.foo {
  background-color: yellow;
}

/*
 * css-rules-tool:
 * Old CSS selector: div.cluster td.top
 * New CSS selector: div.cds--cluster .top
 *
 * icon-replacer-tool:
 * Old background-image: "../../calendar__week20--enabled.svg"
 * New background-image: "../../calendar__week20--enabled.svg"
 */

.soria div.cds--cluster .top {
  background-image: "../../calendar__week20--enabled.svg";
}