.has-updates {
  background-color: green;
}

/* Expect 'div.cluster h3' to be removed. */

.foo,
div.cluster h3 {
  background-color: yellow;
}

/*
 * Old: .cluster p.description
 * New: .list p.description
 */

.cluster p.description {
  background-color: yellow;
}
