.has-updates {
  background-color: green;
}

/* Expect 'div.cluster h3' to be removed. */

.foo,
div.cluster h3 {
  background-color: yellow;
}

/*
 * Old: div.cluster td.top
 * New: div.bx--cluster .top
 */

.soria div.cluster td.top {
  background-color: yellow;
}
