.has-updates {
  background-color: green;
}

/* Expect 'div.cluster h3' to be removed. */

.foo {
  background-color: yellow;
}

/*
 * Old: div.cluster td.top
 * New: div.cds--cluster .top
 */

.soria div.cds--cluster .top {
  background-color: yellow;
}